@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== Root & Base Styles ========== */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ========== Typography ========== */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* ========== Layout Containers ========== */
.app-container {
  max-width: 64rem; /* ~max-w-4xl */
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem; /* py-8 px-4 */
  color: white;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  z-index: 50;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

/* ========== Header & Text ========== */
.app-header {
  text-align: center;
  font-size: 4.875rem;
  font-weight: 650;
  font-stretch: ultra-expanded;
  text-transform: uppercase;
  color: #990000; /* spydercoRed */
}

.app-subtext {
  text-align: center;
  font-size: 1rem;
  margin: 0 auto 20px auto;
}

.question {
  font-weight: 500;
  font-size: larger;
  margin-bottom: 10px;
}

/* ========== PrefPlot ========== */
.prefplot-wrapper {
  justify-content: center;
}

.prefplot-chart {
  margin-bottom: 1.5rem; /* mb-6 */
}

#prefplot {
  margin-left: auto;
  margin-right: auto;
}

/* ========== Results & Tables ========== */
.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contentContainer {
  padding-top: 100px;
  display: flex;
}

.dataDisplay {
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.tableContainer {
  display: flex;
  align-items: start;
  justify-content: space-around;
  margin-bottom: 20px;
}

#recTable {
  margin: 30px;
}

#key {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  margin-left: -80px;
}
.logo-img {
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
}
