@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== Root & Base Styles ========== */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* ========== Typography ========== */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* ========== Layout Containers ========== */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  z-index: 50;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

.app-subtext {
  text-align: center;
  font-size: 1rem;
  margin: 0 auto 20px auto;
}

.question {
  font-weight: 500;
  font-size: larger;
  margin-bottom: 10px;
}

/* ========== PrefPlot ========== */

#prefplot {
  margin-left: auto;
  margin-right: auto;
}

/* ========== Results & Tables ========== */

#key {
  display: flex;
  align-items: start;
  margin-left: -80px;
}
.logo-img {
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
}
